* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: sans-serif;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(33, 33, 33);
    padding: 15px 7px;
}

.logo {
    display: flex;
    align-items: center;
}


.youtube {
    color: red;
    font-size: 50px;
}

.row-menu {
    font-size: 40px;

    margin-left: 27px;
}

.row-menu:hover {
    background-color: rgb(59, 58, 58);
    cursor: pointer;
    border-radius: 10px;
}

.youtube-text {
    display: flex;
    align-items: center;
    margin-left: 16px;
}


.input-search {
    width: 362px;
    height: 40px;
    padding-left: 10px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    color: #ffff;
    background: rgb(18, 18, 18);
    border-radius: 5px;

}

.search {
    width: 64px;
    font-size: 20px;
    background: rgb(48, 48, 48);
    color: #fff;
    border: 0;


}

.my-channel:hover {
    background-color: rgb(24, 23, 23);
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1.2);
    transition: 0.5s;
}

.creator-block:hover {
    background-color: rgb(41, 40, 40);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

.nuqtalar:hover {
    background-color: rgb(41, 40, 40);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

.Notifications:hover {
    background-color: rgb(41, 40, 40);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

.voice:hover {

    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}

.btn {
    width: 64px;
    height: 40px;
    background: rgb(48, 48, 48);
    color: #fff;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.voice {
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 0;
    background: rgb(0, 0, 0);
    margin-left: 10px;

}

.navbar-center {
    display: flex;
}

.navbar-icon {
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
    display: flex;
    gap: 15px;
}

.my-channel img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* !navbar-tugadi */

.container {
    box-sizing: border-box;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.content-right {
    box-sizing: border-box;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

}


.btn1 {
    margin: 10px 0px;
    box-sizing: border-box;
    /* Gray-Color */
    border: 0.3px solid rgb(170, 170, 170);
    border-radius: 32px;
    padding: 8px 12px 8px 12px;
    /* border-color */
    background: rgb(48, 48, 48);
}



.button2 {

    border-radius: 32px;
    padding: 8px 12px 8px 12px;
    border: 1px solid #555555;
    background: rgb(255, 255, 255);
    color: #030303;

}

.card-start {
    margin-left: 250px;
    margin-top: 50px;

}
.buttons-yt {
    padding-top: 50px;
}

.videos1 {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding-right: 200px;
}

.yt-img1 {
    width: 200px;
    height: 110px;
}

.video-name1 {
    padding: 7px 0px 7px 0px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 10px;

}

.video-info1 {
    margin: 0px 10px;
    padding: 0px;
    color: rgb(170, 170, 170);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;   
    margin: 0px 10px;
    padding-right: 20px; 
    
}
.video-infos {
    padding-top: 25px;
}

main {
    display: flex;
    width: 0 auto;
    height: 100%;
    background: rgb(24, 24, 24);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-text {
    margin: 0 10px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    font-weight: 400;
}

.video-info {
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
    width: 800px;
    height: 94px;
    padding: 20px 0px 8px 0px;
    border-bottom: #aaaaaa62 1px solid;

}


.video-view {
    color: #AAAAAA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0px 12px 0px;

}

.like {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.canal-img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}


.content-channel {
    margin-top: 17px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.subscribe-btn {
    margin: 10px 0px;
    border-radius: 2px;
    border: 0;
    background: rgb(204, 0, 0);
    padding: 10px 16px 10px 16px;
    margin-left: 520px;
}

.mrpro {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subscribers {
    color: #AAAAAA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bio {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    width: 576px;
    height: 48px;
    margin: 0 41px;
}

.show {

    padding: 8px 0px;
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    margin: 0 41px;
    text-transform: uppercase;

}

.hr {
    width: 800px;
    border-bottom: #AAAAAA 1px solid;
    opacity: 0.2;
}

.comments-shot {
    display: flex;
    gap: 20px;
    font-size: 15px;
    padding: 24px 0px 32px 0px;
}

.list-icon {
    margin-left: 60px;
}

.inp {
    border: 0;
    outline: none;
    /* border-color */
    background: rgb(24, 24, 24);
    padding: 7px 0px 8px 0px;
    border-bottom: #aaa7a76c solid 1px;
    width: 760px;
}

.comment-users {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-user2 {
    display: flex;
    margin-top: 32px;
    gap: 10px;
    align-items: center;
}

.user-texts {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.online {
    padding-top: 5px;
    color: #AAAAAA;
    font-size: 15px;
}

.stif {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: px;
}

.comment-user2 h4 {
    margin: 10px;
    padding: 2px 0px 2px 0px;
    font-size: 20px;
}

.like-icons {
    display: flex;
    gap: 20px;
    margin: 5px 50px;
    padding: 8px 20px 8px 20px;
}

.video1 {
    width: 100%;
    height: 155px;
    padding: 30px 30px;
    display: flex;

    flex-direction: column;
    margin-right: 700px;
}




.contents {
    display: flex;
    gap: 50px;

}

.yt-img {
    border-radius: 5px;
    width: 276px;
    height: 155px
}


.video-name {
    color: rgb(255, 255, 255);

    font-size: 12px;
    font-weight: 700;
    margin: 7px 17px;

}

.content-right-start {
    display: flex;
}

.video-user {
    padding-left: 10px;
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 65px;
}

.video-user2 {
    padding-top: 15px;
    padding-left: 10px;
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;

}